<div class="show_collections-container">
  <div class="show_collections-images-container">
    <div class="show_collections-images-slick">
      <div>
        <img src="http://host2post.com/server13/photos/gvhi3uetdohipm~/Aquarium-Wallpapers_1200x800.jpg">
      </div>
      <div>
        <img src="http://gamingshogun.com/wp-content/uploads/2012/10/1-800x800.png">
      </div>
      <div>
        <img src="http://www.burjdubaiskyscraper.com/2009/01/burj1731.jpg">
      </div>
    </div>
  </div>
  <div class="show_collections-info-container">
    <p>HELLOOOO INFOO</p>
  </div>
</div>