<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul class="alert alert-error">
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>