/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.show_collections-product-container {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 20px;
}

.show_collections-product_images-slick {
  width: 100%;
  height: 100%;
}

.show_collections-product_images-slick img {
  margin: auto;
}

.show_collections-product_info-container {
    margin-left: 10%;
  }

.show_collections-products-container {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.show_collections-products_images-container {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.show_collections-products_images-container img {
  max-width: 100%;
  height: auto;
  margin: auto;
  @include vertical-align();
}

.prev-arrow {
  float: left;
}

.next-arrow {
  float: right;
}

/*--- Desktop only ---*/
@media (min-width: 920px) and (max-width: 2000px)  {
  .show_collections-product_images-container {
    float: left;
    width: 50%;
    height: 100%;
    display: block;
  }

  .show_collections-product_info-container {
    float: left;
    width: 30%;
    height: auto;
  }

  .show_collections-product_images-slick img {
    max-height: 350px;
    max-width: 500px;
  }

  .show_collections-products_image-container {
    display: block;
    float: left;
    margin: 10px;
    height: 150px;
    min-height: 150px;
    width: 22%;
    overflow: hidden;
  }
}

/*--- iPad Landscape ---*/
@media (min-width: 640px) and (max-width: 919px)  {
  .show_collections-product_images-container {
    float: left;
    width: 50%;
    height: auto;
    display: block;
  }

  .show_collections-product_info-container {
    float: left;
    width: 30%;
    height: auto;
  }

  .show_collections-product_images-slick img {
    max-height: 250px;
    max-width: 450px;
  }

  .show_collections-products_image-container {
    display: block;
    float: left;
    margin: 10px;
    height: 150px;
    min-height: 150px;
    width: 30%;
    overflow: hidden;
  }

}

/*--- iPad Landscape ---*/
@media (min-width: 415px) and (max-width: 639px)  {
  .show_collections-product_images-container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .show_collections-product_info-container {
    width: 100%;
    height: auto;
  }

  .show_collections-product_images-slick img {
    max-height: 250px;
  }

  .show_collections-products_image-container {
    display: block;
    float: left;
    margin: 10px;
    height: 150px;
    min-height: 150px;
    width: 45%;
    overflow: hidden;
  }
}

/*--- iPad Landscape ---*/
@media (min-width: 320px) and (max-width: 414px)  {
  .show_collections-product_images-container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .show_collections-product_info-container {
    width: 100%;
    height: auto;
  }

  .show_collections-product_images-slick img {
    max-height: 180px;
  }

  .show_collections-products_image-container {
    display: block;
    float: left;
    margin: 10px;
    height: 150px;
    min-height: 150px;
    width: 80%;
    overflow: hidden;
  }
}